*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin-left: 4%;
    margin-right: 4%;

}
.nav{
    background-color: #E3A5C7;
    color: black;
    position: relative;
}
.hamburger{
    color: black;
    display: none;
    font-size: 30px;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 20px;
    list-style: none;
    background-color: antiquewhite;
}
.hero{
    margin-left:30%;
    margin-right: 25%;
    
}
.hero>h1{
    font-size: 60px;
    margin-top: 15%;
}
.hero>button{
    padding:12px;
    
    border-radius: 14px;
    margin-top: 5%;
    gap:40px;
    border: none;
    cursor:pointer
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    padding: 20px;
}

.grid-container img {
    width: 100%; /* Make images take the full width of their container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop images to fit if necessary */
    border-radius: 8px; /* Optional: rounded corners for images */
}
.launch{
    display:flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    background-color: brown;
}
.right{
    height:50vh;
    width: 50vw;
  
}
.left{
    height:50vh;
    width: 50vw;
   
}
.left{
    margin-left: 7%;
    margin-top: 7%;
    color: white;
}
.left--h1{
    font-weight: 300;
}
.left-p{
   padding-top: 25px;
}
.right{
    height:50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.right>img{
    width:25vw
}


.footer{
    height:80vh;
    margin-top: 20px;
    padding-left: 5%;
    background-color:#1A3636;
    color: white;
    padding-top: 17px;
  }
  .footer-left{
   
    width:50vw;
    
  }
  .footer-right{
    
    width:50vw;
   
  }
  .footer-upper{
    display: flex;
    align-items: center;
    
  }
  .footer-left>input{
    margin-top: 6px;
    height:30px;
    padding: 3px;
    border: none;
    background-color: dimgray;
    color: black;
  }
  .footer-left>button{
    margin-top: 6px;
    height:30px;
    padding: 8px;
    border: none;
    background-color: white;
    color: black;
  }
  .line{
    margin-top: 14px;
   width: 10opx;
  height: 2px;
    color: white;
    background-color: white;
  }
  .footer-bootom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .footer-ul{
    list-style: none;
  }

  
  .footer-end{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    
  }
  .footer-end-img{
 
    width: 60px;
  }
  .footer-end-content>span{
gap: 80px;
  }
@media (max-width: 768px) {
    .hamburger {
        display: block;
        
    }
    .nav{
        background-color: white;
       
    }
    .nav-ul{
        flex-direction: column;
        padding-bottom: 20px;
        width: 100%;
        display: none;
        position: absolute;
        left:0%;
        background-color: antiquewhite;
    }
    .nav-ul.active{
        display: block;
    }
    .hero{
        margin-left:2%;
        margin-right: 2%;
    }
    .hero>h1{
        font-size: 45px;
        margin-top: 15%;
    }
    .hero>button{
        padding:12px;
        border-radius: 14px;
        margin-top: 10%;
        
        border: none;
        cursor:pointer
        
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:15px;
        padding: 20px;
    }
    
    .grid-container img {
        width: 100%; /* Make images take the full width of their container */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Crop images to fit if necessary */
        border-radius: 8px; /* Optional: rounded corners for images */
    }
    .launch{
       flex-direction: column;
        height: 80vh;
        background-color: brown;
    }


    .right{
       
        width: 100vw;
      
    }
    .left{
        
        width: 100vw;
       
    }
    .left{
        padding-left: 4%;
        padding-right: 5%;
        color: white;
    }
    .left--h1{
        font-weight: 200;
    }
    .left-p{
       padding-top: 25px;
    }
    .right{
        height:50vh;
        width: 50vw;
       
       
    }
    .right>img{
        width:85vw
    }



    
.footer{
    height:80vh;
    margin-top: 20px;
    padding-left: 5%;
    background-color:#1A3636;
    color: white;
    padding-top: 17px;
  }
  .footer-left{
   
    width:100vw;
    
  }
  .footer-right{
    
    width:100vw;
   
  }
  /* .footer-upper{
    display: flex;
    align-items: center;
    
  } */
  .footer-left>input{
    margin-top: 6px;
    height:30px;
    padding: 3px;
    border: none;
    background-color: dimgray;
    color: black;
  }
  .footer-left>button{
    margin-top: 6px;
    height:30px;
    padding: 8px;
    border: none;
    background-color: white;
    color: black;
  }
  .line{
    margin-top: 14px;
   width: 10opx;
  height: 2px;
    color: white;
    background-color: white;
  }
  .footer-bootom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .footer-ul{
    list-style: none;
  }

  
  .footer-end{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    
  }
  .footer-end-img{
 
    width: 60px;
  }
  .footer-end-content>span{
gap: 80px;
  }
}
